<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="stylesheet" href="../static/css/login.css">
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <!-- <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico"> -->
    
        <title>Signin Template for Bootstrap</title>
    
        <!-- <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/"> -->
    
        <!-- Bootstrap core CSS -->
        <!-- <link href="../../dist/css/bootstrap.min.css" rel="stylesheet"> -->
    
        <!-- Custom styles for this template -->
        <link href="signin.css" rel="stylesheet">
      </head>

<body class="text-center" cz-shortcut-listen="true" style="background-color: #163C40;">
    <form class="form-signin">
      <img class="mb-4" src="../static/img/ifpilogo.png" alt="" width="65" height="85">
  <h1 class="h3 mb-3 font-weight-normal" style="color: white;">JORNAL FEDERAL</h1>

      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" id="inputEmail" class="form-control" placeholder="Matrícula" required="" autofocus="">
      
      <div style="padding-top: 2.5px;">
      <label for="inputPassword" class="sr-only">Password</label>
    </div>

      <input type="password" id="inputPassword" class="form-control" placeholder="Senha" required="">
      <br>
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> <font style="color: white;">Lembrar senha</font>
        </label>
      </div>
      <a href="/home/" class="btn btn-lg btn-primary btn-block" style="background-color: teal; border: teal;">Entrar</a>

      <!-- <button class="btn btn-lg btn-primary btn-block" type="submit" id=botaum><a class=entrar href="home.html" style="color: white;">Entrar</a></button> -->
        <p class="mt-5 mb-3 text-muted">© 2019</p</font> 
    </form>
  

</body>

</html>