<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="../static/css/noticia.css">
    <title>Document</title>
</head>
<body>

    <center>
    <div class="container">
    <img src="../static/img/saudade.jpeg" >
    
    <h2>Uma saudade tremenda!</h2>
    
    <center>
    <div  style="width: 700px;">
        <h4 style="text-align: justify;">Alunos do curso técnico de informática lamentam muito com o fim de mais um ciclo em suas vidas de estudantes. Durantes algumas aulas a última semana alunos chegam a se emocionar ao lembrar de todos os momentos felizes e divertidos que viveram durante esses 3 anos. muita emoção!
        </h4>
    </div>
    
    <div class="fotos">
            <img src="../static/img/olimpiada.jpeg" >
            <img src="../static/img/mayllon.jpeg" >
            <img src="../static/img/elcio.jpeg" >
    </div>

    </center>

    </div>
    </center>

</body>
</html>